<div class="ctrlBox">
    <button id="connectBtn" name="connectBtn" class="btnLeft">
    Connect
  </button>
    <button id="disconnectBtn" name="disconnectBtn" class="btnRight">
    Disconnect
  </button>
</div>

<div class="messageBox">
    <label for="message">
    <input type="text" name="message" id="message" placeholder="Message text" inputmode="latin" size=60 maxlength="140"
      disabled>
  </label>
    <button id="sendBtn" name="sendBtn" class="btnRight" disabled>
    Send
  </button>
</div>

<div class="messageBox" id="receiveBox">
    <p>Message received:</p>
</div>